@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.HeaderLogo {
  height: 46px;
  width: auto;
  margin-right: auto;
}

.NavLinks {
  list-style: none;
}

.NavLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.NavLinks li a {
  transition: all 0.3s ease 0s;
}

.NavLinks li a:hover {
  color: #0088a9;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
